{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur le site du sous-programme MEDIA</h1>
<div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">

<p>Le sous-programme MEDIA d'Europe Créative apporte un soutien financier au secteur audiovisuel pour le développement, la distribution et la promotion de son travail. Il aide le lancement de projets à dimension européenne et stimule l'exploitation de nouvelles technologies; il permet aux films et aux produits audiovisuels européens de percer sur les marchés hors des frontières nationales et européennes, notamment les longs-métrages, films télévisés, documentaires et nouveaux media. Des soutiens à la formation et au développement de films sont également proposés.</p>
</div>

{% endblock %}
