{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}

<section class="projects">
<table class="table">
    <thead>
        <th>ID</th>
        <th>ID</th>
        <th>ID</th>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td>{{ project.id }}</td>
            <td>{{ project.action }}</td>
            <td>{{ project.year }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}